//colors
$mine_shaft: #323232;
$color_delta: #a2a2a2;
$color_green_haze: #27ae60;
$white: #fff;
$white_70: rgba(255, 255, 255, .7);
$green_70: rgba(39,174,96, .5);

//fonts
$font_0: 'Open Sans', sans-serif;

body {
	background-color: $mine_shaft;
	text-align: center;
	font-family: $font_0;
	color: $color_delta;
}
a {
	color: $color_green_haze;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#stars-wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 10;
	.star {
		background: radial-gradient(circle at center, $white_70 10%, transparent 50%);
		position: absolute;
		opacity: .5;
	}
}
#main-wrapper {
	position: relative;
	z-index: 20;
}
header {
	width: 1000px;
	margin: 0 auto 100px auto;
	padding-top: 40px;
	#logo-wrapper {
		display: inline-block;
		width: 50%;
		text-align: left;
		#logo {
		    display: inline-block;
		    background-image: url('../../assets/img/logo.koding.svg');
            background-repeat: no-repeat;
            width: 115px;
            height: 30px;
            vertical-align: middle;
		}
	}
	#menu-wrapper {
		display: inline-block;
		width: 50%;
		text-align: right;
		ul {
			margin: 20px 0;
		}
		li {
			display: inline-block;
			margin-left: 14px;
			cursor: pointer;
			a {
				text-decoration: none;
				color: $color_delta;
				font-weight: 600;
			}
			&:nth-child(3) {
			    border: 1px solid $color_delta;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				-o-border-radius: 4px;
				border-radius: 4px;
				padding: 5px 15px;
				text-transform: uppercase;
				font-size: 14px;
				margin-left: 21px;
				margin-right: 0;
			}
			&:last-child {
                border: 1px solid $green_70;
			    background-color: $color_green_haze;
				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				-o-border-radius: 4px;
				border-radius: 4px;
				padding: 5px 15px;
				text-transform: uppercase;
				font-size: 14px;
				margin-left: 21px;
				margin-right: 0;
				a {
				    color: $white;
				}
			}
		}
	}
}
#content-wrapper {
    #icon-wrapper {
        margin-bottom: 45px;
        .icon {
            display: inline-block;
            background-image: url('../../assets/img/icon.moon.svg');
            background-repeat: no-repeat;
            width: 70px;
            height: 65px;
            vertical-align: middle;
        }
    }
    #text-wrapper .row:last-child {
	    margin-top: 60px;
    }
}